<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Melo Beats</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css"> <!--Link to CSS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Melo Beats</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "News")" title="News">News</a></li>
                <li><a href="@Url.Action("Index", "Competition")">Upcoming Competitions</a></li>
                <li><a href="@Url.Action("Index", "Contact")">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <form id="logout" action="@Url.Action("Logout", "Account")" method="POST">

                            <br /><span class="nav-white">@User.Identity.Name</span>

                            <a class="nav-white logout" href="javascript: $('#logout').submit()">
                                Logout
                            </a>
                        </form>
                    </li>
                }
                else
                {
                    <li><a href="@Url.Action("Register", "Account")" title="log in">Register</a></li>
                    <li><a href="@Url.Action("Login", "Account")" title="log in">Login</a></li>
                }

            </ul>
        </div>
    </nav>



    @RenderBody()


  <footer>Copyright © 2023 Melo Beats </footer>

</body>
</html>